@using CRUDelicious.Models;
@model Dishes
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUDelicious!</title>
</head>
<body style="background-image:url ('124.jpg');margin:auto;width:970;height:auto;">
    <a href="/">Home</a>


    <h2 style="text-align:center;">Edit - @Model.Name</h2>

    
    <form action="/EditingDish/@Model.DishId" method="POST">
        <div style="display:inline-block;width:299px;height:555px;text-align:center;vertical-align:top;">
            <span asp-validation-for="Chef"></span><br>
            <label asp-for="Chef">Chef's Name</label><br>
            <input type="input" asp-for="Chef" value="@Model.Chef" style="margin-bottom:15px;"><br>
            <span asp-validation-for="Name"></span><br>
            <label asp-for="Name">Dish Name</label><br>
            <input type="input" asp-for="Name" value="@Model.Name" style="margin-bottom:15px;"><br>
            <span asp-validation-for="Calories"></span><br>
            <label asp-for="Calories"># of Calories</label><br>
            <input type="input" asp-for="Calories" value="@Model.Calories" style="margin-bottom:15px;"><br>
        </div>
        <div style="display:inline-block;width:199px;height:555px;text-align:center;">
            <span asp-validation-for="Tastiness"></span><br>
            <label asp-for="Tastiness">Tastiness</label><br>
            <select asp-for="Tastiness">
                <option>@Model.Tastiness</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>
        </div>
        <div style="display:inline-block;width:399px;height:555px;">
            <span asp-validation-for="Description"></span><br>
            <label asp-for="Description">Description</label><br>
            <input type="textarea" asp-for="Description" value="@Model.Description" style="margin-bottom:15px;width:399px;height:299px;"><br>
            <input type="submit" value="Edit Dish">
        </div>
    </form>
</body>
</html>